<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<%- include('tailwind') -%>

    <body class="bg-gray-100">
        <div class="flex h-screen bg-white">
            <!-- Left Sidebar (increased from w-64 to w-80) -->
            <aside class="w-80 m-5 ml-10 p-6">
                <div class="mb-10 ml-3">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" viewBox="0 0 98 33"
                        xmlns="http://www.w3.org/2000/svg" style="display:block" width="82" height="33">
                        <path clip-rule="evenodd"
                            d="m64.8935 16.456c0 9.0884-7.3676 16.456-16.456 16.456s-16.456-7.3676-16.456-16.456c0-9.08839 7.3676-16.456 16.456-16.456s16.456 7.36761 16.456 16.456zm-47.9911-14.88859c.3016-.52241 1.0556-.52241 1.3572 0l16.7962 29.09189c.3017.5224-.0754 1.1754-.6786 1.1754h-33.592412c-.603231 0-.980249-.653-.678634-1.1754zm51.7119-.588048c-.8655 0-1.5672.701678-1.5672 1.567238v27.8185c0 .8656.7017 1.5673 1.5672 1.5673h27.8185c.8656 0 1.5673-.7017 1.5673-1.5673v-27.8185c0-.86556-.7017-1.567238-1.5673-1.567238z"
                            fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                </div>

                <nav>
                    <ul class="space-y-1 font-suisse-mono-regular tracking-thigt text-black ">
                        <li><a href="/" class="flex items-center hover:bg-gray-100 rounded px-3 py-4 text-lg">
                                <svg width="32px" height="32px" stroke-width="1.5" class="mr-4" viewBox="0 0 24 24"
                                    fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path
                                        d="M17 21H7C4.79086 21 3 19.2091 3 17V10.7076C3 9.30887 3.73061 8.01175 4.92679 7.28679L9.92679 4.25649C11.2011 3.48421 12.7989 3.48421 14.0732 4.25649L19.0732 7.28679C20.2694 8.01175 21 9.30887 21 10.7076V17C21 19.2091 19.2091 21 17 21Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M9 17H15" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                                Home
                            </a></li>
                        <li><a href="#" class="flex items-center hover:bg-gray-100 rounded px-3 py-4 text-lg">
                                <svg width="32px" height="32px" stroke-width="1.5" class="mr-4" viewBox="0 0 24 24"
                                    fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path
                                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M2.5 12.5L8 14.5L7 18L8 21" stroke="#000000" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M17 20.5L16.5 18L14 17V13.5L17 12.5L21.5 13" stroke="#000000"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M19 5.5L18.5 7L15 7.5V10.5L17.5 9.5H19.5L21.5 10.5" stroke="#000000"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M2.5 10.5L5 8.5L7.5 8L9.5 5L8.5 3" stroke="#000000" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                </svg>
                                Inspiration
                            </a></li>
                        <li><a href="/profile/<%= userId %>"
                                class="flex items-center hover:bg-gray-100 rounded px-3 py-4  text-lg">
                                <svg width="32px" height="32px" stroke-width="1.5" class="mr-4" viewBox="0 0 24 24"
                                    fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path
                                        d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M4.271 18.3457C4.271 18.3457 6.50002 15.5 12 15.5C17.5 15.5 19.7291 18.3457 19.7291 18.3457"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round">

                                    </path>
                                    <path
                                        d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg>
                                Profile
                            </a></li>
                        <!-- Add more menu items as needed -->
                    </ul>
                </nav>
                <div class="my-8">
                    <button id="createNewPost"
                        class="text-white bg-gradient-to-b from-black to-[#292929] border border-black px-[32px] py-[16px] font-suisse-mono-regular text-[17px] transition-all duration-600 shadow-[0_2px_2px_rgba(0,0,0,0.31),inset_0_2px_1px_rgba(255,255,255,0.5)] hover:shadow-[your_hover_shadow] hover:bg-[your_hover_color] rounded-full px-3 py-2 w-full text-md">Create
                        new post</button>
                </div>
            </aside>

            <!-- Middle Content Area -->
            <main class="flex-1 overflow-y-auto" style="scrollbar-width: none; -ms-overflow-style: none;">
                <div class="p-8">
                    <form action="/" method="post" enctype="multipart/form-data">
                        <div class="border border-gray-200 rounded-xl">
                            <div class="m-5">
                                <div class="flex flex-col font-suisse-mono-regular">
                                    <div class="flex flex-row mb-10">

                                        <img src="<%= data[0].avatar  %>" alt="User"
                                            class="w-12 h-12 rounded-full mr-3">
                                        <!-- content input -->
                                        <input type="text" id="whatsHappening" name="content"
                                            placeholder="What's happening?" class="px-6 py-3 w-full text-lg" />
                                        
                                    </div>
                                    <div class="flex flex-row justify-items-end">
                                        <label for="fileInput"
                                            class="border border-gray-200 rounded-full px-6 py-3 text-lg cursor-pointer">
                                            <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24"
                                                fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                                <path
                                                    d="M21 3.6V20.4C21 20.7314 20.7314 21 20.4 21H3.6C3.26863 21 3 20.7314 3 20.4V3.6C3 3.26863 3.26863 3 3.6 3H20.4C20.7314 3 21 3.26863 21 3.6Z"
                                                    stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path d="M3 16L10 13L21 18" stroke="#000000" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path
                                                    d="M16 10C14.8954 10 14 9.10457 14 8C14 6.89543 14.8954 6 16 6C17.1046 6 18 6.89543 18 8C18 9.10457 17.1046 10 16 10Z"
                                                    stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                        </label>
                                        <!-- image input -->    
                                         <input type="file" id="fileInput" name="postImage" class="hidden" accept="image/*">

                                        <button type="submit"
                                            class="mx-5 text-white bg-gradient-to-b from-black to-[#292929] border border-black font-suisse-mono-regular text-[17px] transition-all duration-600 shadow-[0_2px_2px_rgba(0,0,0,0.31),inset_0_2px_1px_rgba(255,255,255,0.5)] hover:shadow-[your_hover_shadow] hover:bg-[your_hover_color] rounded-full w-full text-md">Post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Post -->
                    <% data.forEach(post=>{%>

                        <div class="mb-8 font-suisse-mono-regular">
                            <div class="p-6 border-b border-gray-200">
                                <div class="flex items-center mb-4">
                                    <img src="<%= post.avatar  %>" alt="User" class="w-12 h-12 rounded-full mr-3">
                                    <div>
                                        <h3 class="font-bold text-lg">
                                            <%= post.name %>
                                        </h3>
                                        <p class="text-gray-500 font-suisse-mono-thin">
                                            <%= post.published %>
                                        </p>
                                    </div>
                                </div>
                                <h2 class="text-lg font-bold mb-4">
                                    <%= post.content %>
                                </h2>
                                
                                <% if (post.imageUrl) { %>
                                    <img src="<%= post.imageUrl %>" alt="Post image" class="w-full rounded-lg mb-6">
                                <% } else { %>
                                    
                                <% } %>
                                        <!-- <div class="flex items-center text-gray-500">
                                    <span class="mr-6">4 votes</span>
                                </div> -->
                            </div>
                        </div>
                        <% }) %>
                </div>
            </main>

            <!-- Right Info Section (increased from w-80 to w-96) -->
            <aside class="w-96  pt-8 pr-6 font-suisse-mono-regular">
                <div class="mb-8 border border-gray-200 rounded-xl">
                    <div class="m-5">

                        <h2 class="text-lg font-bold mb-6">Featured creators</h2>
                        <ul class="space-y-4 pt-4">
                            <li class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <img src="https://i.pravatar.cc/40" alt="Creator"
                                        class="w-10 h-10 rounded-full mr-3">
                                    <div class="flex flex-col">
                                        <span class="text-md">Fons Mans</span>
                                        <span class="text-sm text-gray-500">@fonsmans</span>

                                    </div>
                                </div>
                                <button
                                    class="text-blue-600 text-sm border border-blue-600 p-2 rounded-full">Follow</button>
                            </li>
                            <!-- Add more featured creators -->
                        </ul>
                        <ul class="space-y-4 pt-4">
                            <li class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <img src="https://i.pravatar.cc/40" alt="Creator"
                                        class="w-10 h-10 rounded-full mr-3">
                                    <div class="flex flex-col">
                                        <span class="text-md">Soul train</span>
                                        <span class="text-sm text-gray-500">@soulking</span>

                                    </div>
                                </div>
                                <button
                                    class="text-blue-600 text-sm border border-blue-600 p-2 rounded-full">Follow</button>
                            </li>
                            <!-- Add more featured creators -->
                        </ul>

                        <a href="#" class="text-black block mt-6 text-md font-bold">Show more</a>
                    </div>
                </div>

                <div>
                    <h2 class="text-xl font-bold mb-6">Trending work</h2>
                    <div class="grid grid-cols-2 gap-6">
                        <div
                            class="object-cover bg-blue-500 aspect-square rounded-lg flex items-center justify-center text-white text-5xl">
                        </div>
                        <div class="bg-gray-200 aspect-square rounded-lg"></div>
                        <img src="https://cdn.dribbble.com/userupload/15646229/file/original-e8f5bac439531371fe81c998328ac5bf.jpg?resize=1504x1128"
                            class="object-cover rounded-lg" alt="">
                    </div>
                </div>
            </aside>
        </div>
    </body>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const createNewPostButton = document.getElementById('createNewPost');
            const whatsHappeningInput = document.getElementById('whatsHappening');

            createNewPostButton.addEventListener('click', function (e) {
                e.preventDefault(); 
                whatsHappeningInput.focus();
                whatsHappeningInput.scrollIntoView({ behavior: 'smooth', block: 'center' });
            });
        });
    </script>

</html>